

body {
  font-size: 16px;
  color: black;

  font-family: sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
  padding: 10px;
  border: 2px solid black;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: monospace;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}




#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background-color: whitesmoke;
}
#nav-list a span {
  font-size: 1.8em;
}
li{
  background-color: whitesmoke;
  border: 2px solid black;
}

ul{
  display: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

h2{
  text-align: center;
  margin-bottom: 5%;
    margin-top: 40px;

}

.container-fluid span{
  
  text-transform: uppercase;
  font-weight: bold;
}
.container-fluid a{
  color: darkblue;
}

#p1,#p2,#p3{
  border: 2px solid black;
  text-align: center;
  background-color: grey;

  font-size: 20px;

}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }

  ul{
    display: block;
  }
  
  

}
