.row{
  margin-top: 30px;
}
.row > div {
  margin-left: 10px;
  border: 2px solid red;
  background-color: grey;
  border: 2px solid black;
  width: 350px;
  margin-bottom: 20px;
}
h1{
  margin-top: 50px;
  text-align: center;
}
span{
  font-family: monospace;
  font-size: 25px;
  background-color: red;
  float: right;
  border: 2px solid black;
  width: 150px;
  height: 40px;
  text-align: center;
  position: relative;
  left: 14px;
}

#s1{
  background-color:pink ;

}
#s2{
  color: white;
}
#s3{
  background-color:#D3C06C ;

}



p{
  clear: right;

}



@media (min-width: 1200px ){

  .row > div{
    margin-bottom: 20px;
    margin-left: 50px;
  }

}
@media (min-width: 992px) and (max-width:  1199px){

  .row > div{
    width: 400px;
      margin-left: 50px;
  }

  #p3{
    width: 850px;
  }

}

@media (min-width: 720px) and (max-width:  991px){

  .row > div{
    width: 340px;
      margin-left: 10px;
  }

  #p2{
     margin-left: 20px;
  }

   #p3{
    width: 700px;
  }

}

@media (min-width: 540px ) and (max-width: 719px){

.row{
  margin-right: 90px;
  margin-left: 100px;
}

.row > div {
  
  
}

}

@media (max-width: 539px ){
  .row {
    margin-right: 30px;
    margin-left: 30px;
  }
}


